.main {
    display: flex;
    width: 95%;
    max-width: 1080px;
    margin: 10vh auto;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

.inputWrapper {
    flex: 1;
    padding: 1rem 1rem 12rem;
    background-color: var(--input-background-color);
}

.input {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: none;
    color: var(--input-text-color);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
    padding: 0;
    overflow: hidden;
}

.input::placeholder {
    color: var(--input-placeholder-color);
}

hr {
    width: 1px;
    border: none;
    background-color: var(--border-color);
    margin: 0;
}

.outputWrapper {
    flex: 1;
    padding: 1rem 1rem 12rem;
    background-color: var(--output-background-color);
}

.output {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
    white-space: pre-wrap;
    color: var(--input-text-color);
}

.placeholder {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--input-placeholder-color);
}

@media (max-width: 768px) {
    .main {
        width: 90%;
        flex-direction: column;
    }

    .inputWrapper,
    .outputWrapper {
        padding-bottom: 5rem;
    }

    hr {
        height: 1px;
        width: 100%;
    }
}