.main {
    display: flex;
    width: 95%;
    max-width: 1280px;
    margin: 10vh auto;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

.inputWrapper {
    flex: 1;
    padding: 1rem 1rem 12rem;
    background-color: var(--input-background-color);
    position: relative;
}

.outputWrapper {
    flex: 1;
    padding: 1rem 1rem 12rem;
    background-color: var(--output-background-color);
    position: relative;
}

.input,
.output {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: none;
    color: var(--input-text-color);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
    padding: 0;
    overflow: hidden;
}

.input::placeholder,
.output::placeholder {
    color: var(--input-placeholder-color);
}

hr {
    width: 1px;
    border: none;
    background-color: var(--border-color);
    margin: 0;
}

.iconButtons {
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.iconButtons button {
    display: flex;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.iconButtons button svg {
    font-size: 1.4rem;
    color: var(--icon-button-color);
}

.iconButtons button:hover {
    color: var(--icon-button-hover-color);
}

@media (max-width: 768px) {
    .main {
        width: 90%;
        flex-direction: column;
    }

    .inputWrapper,
    .outputWrapper {
        padding-bottom: 5rem;
    }

    hr {
        height: 1px;
        width: 100%;
    }

    .iconButtons button svg {
        font-size: 1.25rem;
    }
}