.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--border-color);
}

.logo {
    font-size: 1.6rem;
    color: var(--icon-color);
    cursor: pointer;
}

.logo:hover {
    color: var(--icon-hover-color);
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links button {
    display: flex;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.link {
    font-size: 1.5rem;
    color: var(--icon-color);
}

.link:hover {
    color: var(--icon-hover-color);
}

@media (max-width: 768px) {
    .navBar {
        padding: 20px;
    }
}