:root {
  --primary-color: rgb(255, 255, 255);
  --background-color: rgb(250, 250, 250);
  --border-color: rgb(235, 235, 235);
  --icon-color: rgb(23, 23, 23);
  --icon-hover-color: rgb(102, 102, 102);

  --input-background-color: rgb(255, 255, 255);
  --output-background-color: transparent;
  --io-text-color: rgb(23, 23, 23);
  --io-placeholder-color: rgb(143, 143, 143);
  --io-icon-button-color: rgb(143, 143, 143);
  --io-icon-button-hover-color: rgb(23, 23, 23);
}

.dark {
  --primary-color: rgb(0, 0, 0);
  --background-color: rgb(10, 10, 10);
  --border-color: rgb(46, 46, 46);
  --icon-color: rgb(237, 237, 237);
  --icon-hover-color: rgb(161, 161, 161);

  --input-background-color: transparent;
  --output-background-color: rgb(0, 0, 0);
  --io-text-color: rgb(237, 237, 237);
  --io-placeholder-color: rgb(143, 143, 143);
  --io-icon-button-color: rgb(143, 143, 143);
  --io-icon-button-hover-color: rgb(237, 237, 237);
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans SC', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}